        *{
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            background:whitesmoke;
            margin-left: 90px;
            margin-right: 90px;
        }
        .navbar{
            background-color: white;
            font-family: calibri;
            padding-right: 15px;
            padding-left: 60px;
        }
        .navdiv{
            display: flex;
            align-items: center;
            justify-content:space-between;
            
        }
        .logo a{
            font-size: 25px;
            font-weight: 600;
            color: black;
            
        }
        ul{
            list-style: none;
            display: flex;
        }
        li{
            list-style: none;
            display: inline-block;
            position: relative;
        }
        ul li a{
            display: block;
            color: black;
            font-size: 18px;
            font-weight: bold;
            margin-right: 90px;
            
        }
        .dropdown {
            display: none;
            position: absolute;
            background-color: white;
            z-index: 1;
        }
        .dropdown li {
            display: block;
        }
        .dropdown a {
            padding: 10px;
        }
        li:hover .dropdown {
            display: block;
        }
        li a:hover{
            background: rgb(33, 107, 167);
            transition: 0.5s;
        }
        li:hover .dropdown {
            display:block;

        }
        section{
            display: flex;
            justify-content: space-between;
        }
        .blog h1{
            justify-content: center;
            display: flex;
            font-weight: lighter;
            letter-spacing: 2px;
        }
        .blog p{
            justify-content: center;
            display: flex;
            margin-top: -10px;
            font-size:small;
        }
        .container{
            width:300px;
            margin-top: 60px;
        }
        .container img{
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            height: 20px;
        }
        .container .img{
            margin-top: 15px;
        }
        .container p{
            margin-top: -15px;
            margin-left: 30px;
            font-size: small;
            display: flex;
        }
        .container1{
            margin: 40px 50px 10px -50px;
            height: 500px;
            width: 700px;
           
        }
        .container1 img{
            height: 240px;
            width: 700px;
        }
        .container1 p{
            text-align: justify;
        }
        .container1 h1{
            font-weight: bold;
        }
        .container1 h2{
            font-weight:bold;
        }
        .container2{
            margin-top:50px;
            width: 300px;
            
        }
        .bloglist ul{
            width: 200px;
            list-style-type: circle;
            display: flex;
            flex-direction: column;
            
        }
        /*.blog{
            width:100%;
            min-height: 100vh;
            background: linear-gradient(45deg,#08001f,#30197d);
            color: #fff;
            position: relative;
        }
        .container1{
            width: 200px;
            height: 180px;
            background: rgba(235,0,255,0.11);
            position: absolute;
            left:8px ;
            top: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container img {
            width: 50px; 
            height: auto;
            margin: 20px; 
            border: 1px solid #ccc;
            position: relative;
            top: -60px;
            left:25px;
        }

        .container p{
            display: block;
            color: black;
            font-size: 10px;
            margin-right: 30px;
        }*/